.navigation {
  flex-grow: 1/2;

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0 8px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $txtColor;
      }

      a {
        text-decoration: none;
        color: $txtColor;
        padding: 10px;
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: $txtColor;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
